@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* ------- Defaults ------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
strong, b {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



/* ------- Main Styling ------- */

html, body {
  height: 100%;
}
body {
  width: 100%;
  background: #202020;
  color: #FFF;
  font-family: "Roboto Mono", Consolas, monspace;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  height: 90vh;
  width: 90vw;
  max-width: 1024px;
  background-size: cover;
  background-position-x: center;
  background-position-y: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
#container.hiding {
  opacity: 0;
}
#container.hidden {
  opacity: 0;
  transition: background-position-y 0s !important;
}
#container.animating {
  background-position-y: 0%;
}

#info {
  width: 100%;
  padding: 7px 0;
  background: rgba(0,0,0,0.6);
  transform: none;
}
#info.off {
  transform: translateY(100%);
}

#info span {
  display: inline-block;
  margin: 7px 20px;
}
